{% extends 'base.html' %}
{% load static %}

{% block content %}



    <div class = "d-flex align-items-center justify-content-between" style="padding : 5px;">
        <p style="font-size: 2rem;;">{{article.title}}</p>
        
        
        <div class = "d-flex align-items-center justify-content-between" >
            
            <div style="margin-bottom:14px;">
            {% if like %} 
                <a href = "{% url 'articles:like' article.pk %}" style="font-size: 1.5rem;" >♥</a>
            {% else %}
                <a href = "{% url 'articles:like' article.pk %}" style="font-size: 1.5rem;" >♡</a>
            {% endif %}
            </div>
            {% if like_cnt == 1 %}        
                <p>{{ like_cnt }} LIKE </p>
            {% else %}
                <p>{{ like_cnt }} LIKES </p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="img_container"  style="margin:5px;">
        {% if article.image %}
        <img src="{{article.image.url}}" class="card-img-top"   alt="{{article.image}}">
        {% else %}
        <img src="{% static 'images/blank_image.jpg' %}" class="card-img-top" alt="{{article.image}}">
        {% endif %}
    </div>
    <hr>
    <div class=" d-flex" style="height:30px;">
        {% if article.user.profile_image %}
        <a href="{% url 'accounts:my_profile' %}" >                   
            <img src="{{ article.user.profile_image.url }}"
            style="height:100%; width:auto; padding:2px; border-radius: 50%;" alt="">
        </a>
        {% else %}
        <a href="{% url 'accounts:my_profile' %}" >                   
            <img src="{% static 'images/blank_image.jpg' %}"
            style="height:100%; width:auto; padding:2px; border-radius: 50%;" alt="">
        </a>
        {% endif %}
        
        
        
        
        
        <p style="margin : 2px;">{{article.user.username}}</p>
    </div>
    
    <!-- <p>Created at : {{article.created_at}}</p>
    <p>Created at : {{article.created_at}}</p> -->
    <hr>
    <p>{{article.content}}</p>

    <hr>
    
    
    

    {% if user.is_authenticated %}
    
    
        <div class="card" style="padding:2px; height:180px;">
            <div class="card-body">
                <div class=" d-flex" style="height:30px;">
                    <a href="{% url 'accounts:my_profile' %}" >                   
                        {% if user.profile_image %}
                        <img src="{{user.profile_image.url}}" 
                        style="height:100%; width:auto; padding:2px; border-radius: 50%;" alt="">
                        {% else %}
                        <img src="{% static 'images/blank_image.jpg' %}"
                        style="height:100%; width:auto; padding:2px; border-radius: 50%;" alt="">
                        {% endif %}        
                    </a>
                    <p style="margin : 2px;">{{ user }}</p>
                </div>
                <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="POST">
                </form>
            </div>
        </div>
        {% else %}
        <div class="card d-flex justify-content-center align-items-center" style="padding:2px; height:180px;">
            <p style="margin:0 auto;">댓글을 달려면 로그인 먼저!</p>
        </div>
        {% endif %}
        
        
        
    

    <div class="card" style="padding:10px;">

        {% if comments %}

            {% for comment in comments %}

            <div class="d-flex" style="height: 30px; margin-top:2px;">
                 
                <a href ="{% url 'accounts:profile' comment.user.username %}">
                    {% if comment.user.profile_image %}
                            <img src="{{comment.user.profile_image.url}}"
                                style="height:100%; width:auto; padding:2px; border-radius: 50%;"   alt="">
                    {% else %}
                        <img src="{% static 'images/blank_image.jpg' %}"
                                style="height:100%; width:auto; padding:2px; border-radius: 50%;"   alt="">
                    {% endif %}
                </a>
                    <p style="margin : 2px; height: 100%; width:auto; ">{{ comment.user.username }}</p>
                    <p style="margin: 2px; color: gray;">{{comment}}</p>
            </div>
            
            {% endfor %}
        
        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="height: 30px; margin-top:2px;">
                <p>댓글이 없습니다.</p>
            </div>
        {% endif %}
    </div>



</div>






{% endblock content %}