{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>{{ User }} 프로필</h1>

    <div class="d-flex align-items-center" style="margin:50px;">
        <div style="width:300; height:300px; padding:30px; margin:10px;">
            {% if User.profile_image  %}
                <img src="{{User.profile_image.url}}" class="card-img-top"  style="width:auto; height:100%; border-radius: 50% ;" alt="" >
            {% else %}
                <img src="{% static 'images/blank_image.jpg' %}" class="card-img-top" style="width:auto; height:100%; border-radius: 50% ;" alt="">
            {% endif %}
        </div>

        <div sytle="margin:0px;" style="width:300px;">
            <div class="d-flex flex-column">
                <p> {{ User }} </p>
                <p> followings : {{ cnt_followings }} </p>
                <p> followers : {{ cnt_follwers }} </p>
            </div>
            <p> {{ User.last_name }}{{ User.first_name }} </p>
            <p> comment </p>
            <p> {{ User.email }} </p>
            <a href="{% url 'accounts:edit_profile' %}">프로필 편집</a>
        </div> 

    </div>

<hr> 

<div class="row" style="margin-top: 20px ;">

    {% if articles %}

        {% for article in articles %}
            <div class="col-4">
            {% if article.image  %}
            <a href="{% url 'articles:detail' article.id %}">
                <img style="border:1px solid gray; margin : 10px;" src="{{article.image.url}}" class="card-img-top" alt="{{article.image}}" >
            </a>    
            
            {% else %}
            <a href="{% url 'articles:detail' article.id %}">
                <img src="{% static 'images/blank_image.jpg' %}" class="card-img-top" alt="{{article.image}}">
            </a>
            {% endif %}
            </div>
        {% endfor %}

    {% else %}

        <p>아무 것도 없다.</p>

    {% endif %}
   </div>


{% endblock content %}]
