<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로또 번호 추출기</h1>
    
    <div class="container" style="font-size: 20px;">
        <div style="background-color:yellow; width:200px; text-align: center; padding:5px;">
            {% for number in numbers.0 %}
                {{number}}
            {% endfor %} 
        </div>
        
        <div style="background-color:yellow; width:200px; text-align: center; padding:5px;">
            {% for number in numbers.1 %}
                {{number}}
            {% endfor %} 
        </div>
        
        <div style="background-color:yellow; width:200px; text-align: center; padding:5px;">
            {% for number in numbers.2 %}
                {{number}}
            {% endfor %} 
        </div>
        <div style="background-color:yellow; width:200px; text-align: center; padding:5px;">
            {% for number in numbers.3 %}
                {{number}}
            {% endfor %} 
        </div>
        <div style="background-color:yellow; width:200px; text-align: center; padding:5px;">
            {% for number in numbers.4 %}
                {{number}}
            {% endfor %} 
        </div>


    </div>

    
   

</body>
</html>