body{
        margin : 0 auto;
        border: 1PX;
}

.header_container {
        display: flex;
        align-items: center;
        justify-content : space-around;   
        width: 2500px;
        height: 50px;
        margin:0 auto;
        position:sticky;
}
.logo{
        width: 150px;
        height: 50px;
        font-size: 40px;
        text-align: center;
        padding: 5px 0 5px 0;
}
.resbonsibility{
        width: 200px;
        height: 30px;
        font-size: 30px;
        text-align: center;
}
.tech{
        width: 80px;
        height: 30px;
        font-size: 30px;
        text-align: center;
}       
.tech_and_service{
        width: 300px;
        height: 30px;
        font-size: 30px;
        text-align: center;
}
.item_container{
        display: flex;
        width: 150px;
        height: 50px;
}
.earth-outline{
        width: 50px;
        height: 50px;
}

.search-outline{
        width: 50px;
        height: 50px;
}
.sunny-outline{
        width: 50px;
        height: 50px;
}
.moon-outline{
        width: 50px;
        height: 50px;
}
.main_container{
        display: flex;
        align-items: center;
        justify-content : space-around;   
        width: 2500px;
        margin:0 auto;
}
.cards_container
{
        width : 200px;
        margin:0 auto;
        display: flex;
        flex-direction : row;
        /* justify-content : flex-center; */
        /* justify-content: center; */
    
    
}
.cards
{
width : 300px;
display: flex;
flex-direction : column;
}


