body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header{
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;


    flex-direction: row;
    height :50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    padding: 10px;

    margin: 0 auto;

}

.item_container{
    display: flex;
    flex-direction: row;
    height :50px;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
}
.sunny-outline img{
    height: 50px;
    width:  50px;
}

.earth-outline img{ 
    height: 50px;
    width:  50px;
}
.search-outline img{
    height: 50px;
    width:  50px;
}

.wrap_button{
    width:200px;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.wrap_calender{

    display: flex;
    flex-direction: column;
    align-items: center;
    width : 540px;
    height: 540px;
    margin : 60px;
    border-radius: 10px;
    background-color: rgb(255, 166, 0);

}

.wrap_calender p
{
    font-size: 25px;
    text-align: center;
    margin : 10px;
}

.calendar{
    width : 500;
    height : 400;
    margin : 10px;
    
}

.banner{
    padding:50px;
    width:100%;
    background-color: beige;
}
.banner p{
    margin: 0 auto;
    font-size: 50px;
}
#main{
    display:flex;
    flex-direction: column;
    margin : 50px 200px;
}




.first-floor{

    display: flex;
    justify-content: center;
}


.second-floor{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 400px;

}

.third-floor{

    display: flex;
    justify-content: center;
    margin-top: 10px;


}
.forth-floor{

    display: flex;
    height:400px;
    margin-top : 10px;
    justify-content: center;
    align-items: center;

}

.clone-service{
    margin :5px;
    height: 100%;
    border-radius: 10px;
    width:620px;
    background-color: blue;
}

.clone-incruitment{
    margin :10px;
    height: 100%;
    border-radius: 10px;
    width:620px;
    background-color: yellow;
}

.container{
    margin:10px;
    display: flex;
}


@media screen and (min-width:1000px) {
    .small-card-container{
        width:650px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        background-color: yellow;
    }
    .small-card{
        width:300px;
        height:300px ;
        border-radius: 10px;
        box-shadow: 5px 5px gray;
        padding : 10px;
    }
    
    .card{
        width:600px;
        height: 600px;
        border-radius: 10px;
        box-shadow: 5px 5px gray;
        padding : 10px;
        margin : 10px;
    }
    
}

@media screen and (max-width:999px) and (min-width:800px) {
    
    .small-card-container{
        width:350px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        background-color: yellow;
    }

}

@media screen and (max-width:799px) and (min-width:500px){
    .first-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .second-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .third-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .forth-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .small-card-container{
        width:450px;
        flex-wrap: wrap;
        display: flex;
        
        flex-direction: column;
        background-color: yellow;
        margin: 0 auto;
    }

   

    .tech{
        display: none;
    }

    .responsibility{
        display: none;
    }
    .tech_and_service{
        display: none;
    }
}

@media screen and (max-width : 499px) {
    
    .header{

        width:500px;

    }


    .first-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .second-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .third-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .forth-floor{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .small-card-container{
        width:450px;
        flex-wrap: wrap;
        display: flex;
        
        flex-direction: column;
        background-color: yellow;
        margin: 0 auto;
    }

    .card{

        margin: 0 auto;

    }
    .small-card{

        margin: 0 auto;

    }

    .tech{
        display: none;
    }

    .responsibility{
        display: none;
    }
    .tech_and_service{
        display: none;
    }
}



.small-card .loudspeaker{

    width:20px;
    height:20px;

}

.small-card .small-card-type{

    display: flex;
    align-items: center;

}
.small-card .small-card-title{
    display: flex;
    padding: 10px 2px;
}
.small-card .small-card-main-img{

    width:100%;
    height:50%;
}

.small-card .small-card-hashtag{

    display: flex;
    font-size: 10px;
    color: gray;

}

.small-card .small-card-hashtag p{

    padding : 2px;

}



.card .loudspeaker{

    width:20px;
    height:20px;

}

.card .card-type{

    display: flex;
    align-items: center;

}
.card .card-title{
    display: flex;
    padding: 10px 2px;
}
.card .card-main-img{

    width:100%;
    height:50%;
}

.card .card-hashtag{

    display: flex;
    font-size: 10px;
    color: gray;

}

.card .card-hashtag p{

    padding : 2px;

}



