header{
        height : 60px;
        width : 2000px;

}
.btn_search{
        height : 50px;
        width : 50px;
        margin : 5px;
}
.logo{
        height : 50px;
        width : 180px;
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 30px; 
        margin-right : 100px;
}
.logo{
        height : 50px;
        width : 180px;
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 30px; 
        margin-right : 100px;
}
.btn_responsibility{
        height : 50px;
        width : 245px;
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 100px; 
        margin-right : 100px;
}

.btn_TechAndService{
        height : 50px;
        width : 250px;
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 100px; 
        margin-right : 100px;
}
.btn_Tech{
        height : 50px;
        width : 135px;
        margin-top : 5px;
        margin-bottom : 5px;
        margin-left : 100px; 
        margin-right : 100px;
}